form>.btns {
    text-align: right;
    margin-right: 10px;
}

/deep/.ui-growl {
    top:55px;
}

form {
    font-size: 12px;
}

.titulo2 {
    font-family: arial;
  	font-weight: bold;
    font-size: 13px;
	text-align: left;
}

