<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
            <div class= "form-group">
                <label for= "rut">RUT</label>
                <input class="form-control input-sm" required type="text" name="rut" [(ngModel)]= "operadora.rut"/>
            </div>
            <div class= "form-group">
                <label for= "name">Nombre</label>
                <input class="form-control input-sm" required type="text" name="nombre" [(ngModel)]= "operadora.nombre"/>
            </div>
            <div class= "form-group">
                <label for= "alias">Alias</label>
                <input class="form-control input-sm" required type="text" name="alias" [(ngModel)]= "operadora.alias"/>
            </div>
            <div class= "form-group">
                <label for= "observacion">Observación</label>
                <input class="form-control input-sm" type="text" name="observacion" [(ngModel)]= "operadora.observacion" />
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" name="cancel" data-toggle="modal" data-target="#myModal"> Cancelar</button>
          <button class="btn btn-primary" type="button" name="save" data-toggle="modal" data-target="#myModal" (click)="save()"> Guardar</button>
        </div>
    </form>
    </div>
  </div>
</div>