form {
    font-size: 12px;
}

form>.btns {
    margin-right: 15px;
}

.btns {
    text-align: right;
}

.checkbox {
    margin-left: 30px;
    text-align: left;
}
.checkbox > label {
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
}
/deep/.ui-growl {
    top:55px;
}